body{
    margin: 0;
    text-align: center;
    font-size: 1em;
    
}

.socialcontainer{
    

    display: flex;
    justify-content: center;
    column-gap: 10%;
    margin-right: 30px;
   
  
}

h1{

    margin-bottom: 30px;
    font-size: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;

    color: #66BFBF;
    font-weight: normal;
    
}

ol {
    list-style: none;
    counter-reset: steps;
  }
  ol li {
    counter-increment: steps;
  }
  ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: #ff6f00;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
  }
  ol ol li::before {
    background: darkorchid;
  }
.programmer{

    
    
    display: inline-block;
    position: absolute;
    right: 400px;
    top: 50px;

}

h2{
    color:#66BFBF ;
    
    }



.skillpara{
    font-style: italic;
}
.profilename{
    display: inline-block;
    padding: 0%;
    margin-bottom: 0%;
    position: relative

 
}



.designation{
    align-items: center;
    position: relative;
    
}



.skill1header{
   
    text-align: center;
    margin:0 auto;
    padding-top: 20px;
}
.skill2header{
    
    text-align: center;
    margin:0 auto;
    padding-top: 20px;
}

.skill1{
    position: absolute;
    left: 200px;
    top: 30px;
}

.skill2{
    position: absolute;
    right: 190px;
    top: 20px;
}
.skill1body{
    display: inline-block;
    padding-top: 20px;
    text-align: left;
}
.skill2body{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
}

.grouptext1{
    
    display: inline-block;
    position:relative;
    
}
.grouptext2{
    margin:0 auto;
    position:relative;
}
.myskills{
    padding-top:20px;
}

.skills{
    background-color: whitesmoke;
}

.skill-row{
    position:relative;
}

.skill-row2{
    position:relative;
}


h3{
    color:#11999E;
    width: 40%;
    margin:0 auto;
   
}

a{
    color:  #11999E;
}

hr{
    border-top: 5px dotted lightgray;
    width: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.top-container {

    background-color: whitesmoke;
 
   
   padding-bottom: 30px;
   position: relative;
 
}

.skill-images{

    display: flex;
    justify-content: center;
    column-gap: 10%;
    margin-top: 2%;
    
}
.skill-container{
    margin-top: 2%;
}


.bottom-container{
    margin-top: 50px;
    background-color: lightslategrey;
}
 


.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:14px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}

